input.ng-invalid.ng-touched {
  border: 1px solid red;
}
/* form {
  /* margin-left: 800px;
  margin-top: 100px;
  width: fit-content;
  margin: auto;
  margin-top: 15%;
} */
button {
  margin-left: 60px;
}
h1 {
  text-align: center;
}

.mat-card {
  color: blueviolet;
  transition: auto;
  display: flex;
  position: fixed;
  padding: 75px;
  border-radius: 67px;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.mat-card-actions {
  margin-left: -85px;
  margin-right: -22px;
  padding: 8px 0;
}
.example-card {
  margin-top: 10%;
  margin-left: 35%;
}
/* .container {
  display: flex;
  padding: 75px;
  border-radius: 67px;
  justify-content: center;
  background-color: blueviolet;
} */
