<mat-card>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let question of questions" class="form-row">
      <app-question [question]="question" [form]="form"></app-question>
    </div>

    <div class="form-row">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Save
      </button>
      <button mat-raised-button color="warn" type="reset" (click)="OnReset()">
        Reset
      </button>
      <mat-spinner
        [style.display]="showSpinner ? 'block' : 'none'"
      ></mat-spinner>
    </div>
  </form>
</mat-card>
